@model IEnumerable<_15_LTUDDN_DoDinhTuan_21103100756_15.Models.BenhNhan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTenBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaBN }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaBN }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaBN })
        </td>
    </tr>
}

</table>
