@model _27_LTUDDN_DoDinhTuan_21103100756.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaisp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaisp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
