@model IEnumerable<_27_LTUDDN_DoDinhTuan_21103100756.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
{
    <label>Nhap gia thap nhat</label>
    @Html.TextBox("min")
    <label>Nhap gia thap nhat</label>
    @Html.TextBox("max")
    <label>Nhap gia thap nhat</label>
    @Html.DropDownList("loaisp", (SelectList)ViewBag.Loaisp)

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaisp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaisp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.masp }) |
                @Html.ActionLink("Details", "Details", new { id = item.masp }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.masp })
            </td>
        </tr>
    }

</table>
