sanPhamBanChay
@{
    ViewBag.Title = "SanPhamBanChayNhat";
}

<h2>SanPhamBanChayNhat</h2>
<table>
    <dt></dt>
    <dd>@Model.masp</dd>
    <dt></dt>
    <dd>
        @Model.tensp</dd>
        <dt></dt>
    <dd>@Model.gia</dd>
    <dt></dt>
    <dd>@Model.soluong</dd>
    <dt></dt>
    <dd>@ViewBag.SoLuongBan</dd>
</table>


