@model IEnumerable<_27_LTUDDN_DoDinhTuan_21103100756.Models.HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluongban)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.masp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluongban)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.mahd, id1 = item.masp }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
