@model IEnumerable<DoDinhTuan_21103100756_LTUDDN_BTVN_TUAN6.Models.Banhang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ Html.BeginForm();}
@Html.Label("Thông tin chi tiết bán hàng của sản phẩm")
@Html.TextBox("timkiem", "", new { @placeholder = "Nhập tên sản phẩm" })
<input type="submit" value="Tìm kiếm" />
@{ Html.EndForm();}
<p>
    @Html.ActionLink("Tổng số lượng bán của từng nhân viên", "TongSlban")
</p>
<p>
    @Html.ActionLink("Danh sách chi tiết bán hàng vượt định mức", "Banhangvdm")
</p
<p>
    @Html.ActionLink("Mặt hàng bán với tổng số lượng nhiều nhất", "Sanphambannhieunhat")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nhanvien.Manv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhanvien.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanpham.Masp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanpham.Tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dinhmuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slban)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nhanvien.Manv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhanvien.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanpham.Masp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanpham.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dinhmuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slban)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
