@model IEnumerable<DataFirst_DDT.Models.Diem>

@{
    ViewBag.Title = "Diemmax";
}

<h2>Diemmax</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diemtb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.Hoten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diemtb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.Hoten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
