@model IEnumerable<DataFirst_DDT.Models.Diem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mamh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diemtb)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mamh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diemtb)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Masv, id2 = item.Mamh }) |
            @Html.ActionLink("Details", "Details", new { id = item.Masv, id2 = item.Mamh }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Masv, id2 = item.Mamh })
        </td>
    </tr>
}

</table>
