@model IEnumerable<_15_LTUDDN_DoDinhTuan_21103100756_15.Models.Tongdoanhthu>

@{
    ViewBag.Title = "Tongdoanhthutienkham";
}

<h2>Tongdoanhthutienkham</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNamKinhNghiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongDoanhThu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuyenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNamKinhNghiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongDoanhThu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaBS }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaBS }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaBS })
        </td>
    </tr>
}

</table>
